{% extends 'base.html' %}
<!-- Content here -->

{% block content %}

<div class="row">
    <div class="col">
        <h5>Каталог</h5>
    </div>
</div>
<div class="card-deck-wrapper">
    <div class="row">
        {% for car in cars %}
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-4">
            <div class="card border-danger">
                <div class="card-block">
                    <img class="card-img-top" src="{{ car.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="text-center"> {{ car.name }}</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Масса, кг
                                <strong class="float-right">3140</strong>
                            </li>
                            <li class="list-group-item">
                                Высота выгрузки, мм
                                <strong class="float-right">2330</strong>
                            </li>
                            <li class="list-group-item">
                                Объем ковша, м3
                                <strong class="float-right">0,46</strong>
                            </li>
                            <li class="list-group-item">
                                Грузоподъемность, кг
                                <strong class="float-right">750</strong>
                            </li>
                            <li class="list-group-item">
                                Мощность двигателя, л.с.
                                <strong class="float-right">51</strong>
                            </li>
                        </ul>

                        <div class="text-center">
                            <a href="/item-page.html" class="btn btn-danger mt-3">Подробнее</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}