{% extends 'base.html' %}
<!-- Content here -->

{% block content %}
<div class="row">
    <div class="col">
        <h5>Каталог / Подробнее</h5>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <!-- Content here -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h3 class="text-center">МИНИПОГРУЗЧИК АНТ750</h3>
            </li>
            <li class="list-group-item">
                Масса, кг
                <strong class="float-right">3140</strong>
            </li>
            <li class="list-group-item">
                Высота выгрузки, мм
                <strong class="float-right">2330(2941)</strong>
            </li>
            <li class="list-group-item">
                Объем ковша, м3
                <strong class="float-right">0,46</strong>
            </li>
            <li class="list-group-item">
                Грузоподъемность, кг
                <strong class="float-right">750</strong>
            </li>
            <li class="list-group-item">
                Мощность двигателя, л.с.
                <strong class="float-right">51</strong>
            </li>
        </ul>
    </div>
    <div class="col-12 col-sm-6">

        <div class="card">
            <img class="card-img-top" src="assets/items/ant750.jpeg" alt="Card image cap">
        </div>

    </div>
</div>
<div class="row mt-3">
    <h3 class="text-center">Технические характеристики минипогрузчика АНТ750 AHT</h3>

    <div class="card mt-3">
        <div class="card-body">
            <p class="card-text">Рабочая масса, кг 3140 Масса без ковша, кг 2990 Объем ковша, м3 0.46 Грузоподъемность, кг 750 Опрокидывающая
                нагрузка, кг 1500 Мак скорость движения, км/ч 12 Тяговое усилие, кН 18 Расход топлива, л/час 4,5 Емкость
                аккумулятора, км/ч 12/90 В/Ач Емкость аккумулятора, км/ч 12/90 В/Ач Полная мощность двигателя, кВт/лс 38/51
                Масса двигателя, кг 184 Трансмиссия Гидростатическая Привод Роликовая цепь со звездочками в картере цепной
                передачи Тормоза Гидравлические встроенные в гидромотор Шины 10/75x15.3
            </p>
        </div>
    </div>
</div>

{% endblock %}